@tailwind base;
@tailwind components;
@tailwind utilities;
  

.shadow-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px; /* Adjust the width to control the size of the shadow */
    height: 100%;
    background: linear-gradient(to right, #04121B, transparent);
  }
  
  .shadow-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px; /* Adjust the width to control the size of the shadow */
    height: 100%;
    background: linear-gradient(to left, #04121B, transparent);
  }

  .feature-main {
    transform: translateY(900px); /* Adjust the value as needed */
    transition: transform 0.3s ease; /* Add a transition for smoother movement */
  }
  
  